@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* Font Family */
  --font-sans: "DM Sans", sans-serif;
  /* Font Sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 30px;
  --font-size-4xl: 32px;
  --font-size-5xl: 48px;
  --font-size-6xl: 64px;
  --font-size-7xl: 72px;
  --font-size-8xl: 96px;
  --font-size-9xl: 120px;
  --font-size-10xl: 160px;
  --font-size-11xl: 200px;

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* Colors */
  --color-primary: #090000;
  --color-primary-light: #818cf8;
  --color-primary-dark: #3730a3;

  --color-secondary: #fff;
  --color-secondary-light: #f472b6;
  --color-secondary-dark: #be185d;

  --color-accent: #fc213b;
  --color-accent-light: #fbbf24;
  --color-accent-dark: #b45309;

  /* Graphic Colors */
  --color-graphics-blue: #3b82f6;
  --color-graphics-green: #10b981;
  --color-graphics-red: #ef4444;
  --color-graphics-yellow: #ffaf34;
}

body {
  overflow-x: hidden;
}
